$white:     #ffffff !default;
$lightGray: #F2F2F2 !default;
$gray:      #737373 !default;
$darkGray:  #3D3D3D !default; 
$blue:      #00A4E1 !default;
$pink:      #FF66A6 !default;
$red:       #FF0000 !default;

@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

body {
    background-color: $white !important;
}

#app {
    height: 100vh !important;
}

nav {
    border-bottom: 2px solid $gray !important;
    background-color: $white !important;
}

.navbar-brand {
    padding-left: 25px;
}

.card {
    border-radius: 2px !important;
    border: 0.5px $lightGray;
    box-shadow: 5px 5px 10px 0px $lightGray;
}

.card-header {
    text-align: center !important;
    color: $darkGray;
    color: $darkGray;
}

.card-body {
    color: $darkGray;
    font-weight: bold;
    text-align: center;
}

footer {
    border-top: 2px solid $gray !important;
    background-color: $white !important;
    color: $darkGray;
    font-weight: bold;
}

.btn {
    width: 350px;
    text-align: center;
    padding: 8px 10px;
    border: 1px solid $gray;
    border-radius: 5px;
    background-color: $white;
    font-size: 16px;
}

.btn-primary {
    width: 120px;
    text-align: center;
    padding: 8px 10px;
    border: 1px solid $gray;
    border-radius: 5px;
    background-color: $lightGray;
    color: $darkGray;
    font-size: 18px;
    font-weight: bold;
}

.btn-primary:hover {
    width: 120px;
    text-align: center;
    padding: 8px 10px;
    border: 1px solid $darkGray;
    border-radius: 5px;
    background-color: $gray;
    color: $lightGray;
    font-size: 18px;
    font-weight: bold;
}